* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #FFFFFF;
}

.hidden {
    display: none;
}

.nav-container {
    width: 1030px;
    margin: 0 auto;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: black;
    border-bottom: 2px solid #F8F8F8;
    padding: 16px 0;
}

.nav-top ul {
    display: flex;
}

.nav-top ul li a {
    margin: 0 15px;
}

.language li a:first-child {
    margin-left: 0;
}

.info-form li a:last-child {
    margin-right: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.nav-menu h1 {
    color: transparent;
    font-size: 0.5rem;
}

.nav-menu h1 img {
    width: 165px;
    height: 38px;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li a {
    margin: 0 50px;
    font-weight: bold;
    font-size: 17px;
}

.nav-menu ul li a:last-child {
    margin-right: 0;
}

.main-img {
    height: 720px;
    background-size: auto;
    background: url(src/main_img.jpg) center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: absolute;
    width: 1712px;
    height: 720px;
    margin: 0 auto;
}


.login-form {
    width: 250px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 40px;
    right: 340px;

    background-color: #FFFFFF;
    border: 1px solid black;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.login-form form input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 0;
}

#login {
    cursor: pointer;
    height: 40px;
    padding-top: 10px;
    background-color: #056531;
    color: white;
    font-weight: bold;
}

.login-search {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 100%;
    margin: 10px 0;
}

#checkbox p {
    border: 1px solid #056531;
}

.auto-set {
    display: flex;
}

.auto-set label {
    display: flex;
    align-items: center;
}

.auto-set label input {
    width: 20px;
}

.no-mem-foreigner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.no-mem-foreigner a {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.no-mem-foreigner a img {
    margin: 0 5px;
}

.no-mem-foreigner a:first-child {
    border-right: 1px solid #e2e2e2;

}

.main-menu {
    width: 100%;
    height: 120px;
    background-color: #24384A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1030px;
    margin: 0 auto;
}

.main-menu ul li a {
    color: white;
    display: inline-block;
    width: 256px;
    height: 76px;
    line-height: 76px;
    padding-left: 97px;
    font-size: 24px;
}

.main-menu ul li:nth-of-type(1) a {
    background: url(src/mainTab_1.gif);
}

.main-menu ul li:nth-of-type(2) a {
    background: url(src/mainTab_2.gif);
}

.main-menu ul li:nth-of-type(3) a {
    background: url(src/mainTab_3.gif);
}

.main-menu ul li:nth-of-type(4) a {
    background: url(src/mainTab_4.gif);
}

.sub-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 230px;
}

.city-img {
    display: flex;
    background: url(src/main_img_02.jpg) center no-repeat;
    background-size: auto;
    height: 720px;
    margin: 0 auto;
    margin-bottom: 180px;
}

.rental-info {
    width: 100%;
    height: 640px;
    background-color: #F6F6F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rental-info h2 {
    font-size: 35px;
    margin-bottom: 60px;
}

.info-box {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    height: 430px;
}

.info1,
.info2,
.info3 {
    width: 385px;
    background-color: #FFFFFF;
}

.info1 .info-img {
    background: url(src/bikeseoul_img1.jpg) center no-repeat;
    background-size: auto;
    height: 240px;
}

.info2 .info-img {
    background: url(src/bikeseoul_img2.jpg) center no-repeat;
    background-size: auto;
    height: 240px;
}

.info3 .info-img {
    background: url(src/bikeseoul_img4.jpg) center no-repeat;
    background-size: auto;
    height: 240px;
}

.info-box .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 20px;
    margin-left: 27px;
}

.info-box p {
    font-size: 15px;
    margin-left: 27px;
}

.rental-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    margin-bottom: 300px;
}

.rental-component h2 {
    font-size: 35px;
    margin-top: 160px;
    margin-bottom: 60px;
}

.rental-box {
    display: flex;
    justify-content: space-between;
    width: 1186px;
    height: 340px;
}

.rental1,
.rental2 {
    width: 586px;
    height: 425px;
}

.rental1 .rental-img {
    background: url(src/retal_img_01.jpg) center no-repeat;
    background-size: auto;
    height: 340px;
}

.rental2 .rental-img {
    background: url(src/retal_img_02.jpg) center no-repeat;
    background-size: auto;
    height: 340px;
}

.rental-box .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
}

.rental-component p {
    font-size: 15px;
}

.download {
    width: 100%;
    height: 480px;
    background: url(src/app_bg.jpg) center no-repeat;
    background-size: auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.down-container {
    width: 1200px;
    height: 240px;
    position: absolute;
    color: white;
    margin: 0 auto;
}

.down-container h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

.down-container p {
    font-size: 15px;
    margin-bottom: 65px;
}

.down-btn a {
    color: transparent;
}

.down-btn a:nth-child(1) {
    display: inline-block;
    background: url(src/app_ios.png) center no-repeat;
    width: 241px;
    height: 73px;
}

.down-btn a:nth-child(2) {
    display: inline-block;
    background: url(src/app_and.png) center no-repeat;
    width: 241px;
    height: 73px;
    margin-left: 20px;
}

footer {
    margin-top: 52px;
    margin-bottom: 200px;
    width: 100%;
    height: 152px;
    background-color: #EDEDED;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-container {
    width: 1030px;
}

.footer-container ul {
    display: flex;
}

.footer-container>ul li a {
    font-size: 13px;
    margin-right: 50px;
    font-weight: bold;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 15px;
}

.footer-bottom p {
    margin-top: 32px;
    font-size: 12px;
}

.footer-bottom>ul li a {
    color: transparent;
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: 0 10px;
}

.footer-bottom>ul li:nth-child(1) a {
    background: url(src/instaLink.png) center no-repeat;
}

.footer-bottom>ul li:nth-child(2) a {
    background: url(src/facebookLink.png) center no-repeat;
}

.footer-bottom>ul li:nth-child(3) a {
    background: url(src/naverblogLink.png) center no-repeat;
}

.chat-bot {
    position: fixed;
    right: 1%;
    bottom: 1%;
}

.chat-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #056531;
    position: absolute;
    bottom: 1%;
    right: 1%;
    border: 1px solid white;
}

.chat-img img:first-child {
    transform: scale(0.3) translate(-45%, -45%);
    opacity: 1;
}

.chat-img img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.3s;
}

.bot-img.active {
    transform: scale(0);
}

.chat-box {
    width: 320px;
    height: 720px;
    border-radius: 10px;
    background-color: rgb(178, 199, 217);
    position: absolute;
    bottom: 70px;
    right: 0;

    box-shadow: 1px 2px 10px black;
    transition: all 0.3s;
}

.chat-top {
    height: 60px;
    background-color: #056531;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.chat-top img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-top p {
    display: flex;
    align-items: center;
    line-height: 60px;
    margin-left: 60px;
    color: white;

}

.chat-area {
    height: 640px;
    position: relative;

}

.chat-area label {
    width: 100%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.chat-area label input:nth-child(1) {
    width: 80%;
    background-color: transparent;
    color: transparent;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    padding: 5px 0;
    padding-left: 5px;
    font-size: 17px;
}

.chat-area label input:nth-child(2) {
    background-color: transparent;
    color: transparent;
    border: none;
}

.chat {
    width: 220px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.chat-area button {
    width: 220px;
    padding: 7px;
    margin-bottom: 3px;
    margin-left: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: rgb(49, 49, 165);
}

.chat-area button:hover {
    background-color: #d6d5d5;
}

@media screen and (max-width : 1020px) {

    .nav-container,
    .main-img,
    .main-menu,
    .sub-img,
    .city-img,
    .rental-info,
    .rental-component,
    .download,
    footer {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        box-shadow: 0 1px 1px #EDEDED;
    }

    .mobile-logo img {
        cursor: pointer;
        width: 174px;
        height: 42px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .map {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        font-size: 2rem;
    }

    .menu-bar {
        position: absolute;
        top: 0%;
        right: 10px;
        margin-top: 20px;
    }

    .bar-menu img {
        width: 55px;
        height: 55px;
        transform: translateZ(0);
        backface-visibility: hidden;
    }
}